
<%= simple_form_for(@top) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :game %>
    <%= f.association :user %>
    <%= f.input :comment %>
    <%= f.input :topplayer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
