<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @top.game %>
</p>

<p>
  <strong>User:</strong>
  <%= @top.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @top.comment %>
</p>

<p>
  <strong>Topplayer:</strong>
  <%= @top.topplayer %>
</p>

<%= link_to 'Edit', edit_top_path(@top) %> |
<%= link_to 'Back', tops_path %>
