<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @game.team %>
</p>

<p>
  <strong>Opponent name:</strong>
  <%= @game.opponent_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<p>
  <strong>Top:</strong>
  <%= @game.top %>
</p>

<p>
  <strong>Flop:</strong>
  <%= @game.flop %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
